<template>
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8">
			<h5>Create a new post</h5>
			<div class="mb-3">
				<label for="emailadd" class="form-label">Post title</label>
				<input type="text" class="form-control" id="title" v-model="title">

			</div>
			<div class="mb-3">
				<label for="code" class="form-label">Code</label>
				<textarea class="form-control" id="code" v-model="code"></textarea>

			</div>
			<div class="mb-3">
				<label for="details" class="form-label">Details</label>
				<textarea class="form-control" id="details" v-model="details"></textarea>
			</div>
			<button class="btn btn-primary" v-on:click="submitPost">Submit post</button>
		</div>
	</div>
</template>
<script>
export default {
	data() {
		return {
			title: null,
			code: null,
			details: null
		}
	},
	methods: {
		//Submit a new post to the backend
		async submitPost() {
			const jwt = localStorage.getItem('token')

			
			const response = await fetch('http://localhost:8000/api/post/', {
				method: "post",
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json',
					'Authorization': 'Bearer '+jwt
				},
				body: JSON.stringify({
					title: this.title,
					code: this.code,
					details: this.details
				})
			})
			if (response.status === 200) {
				this.$router.push({ name: "Index" })

			}
		}
	}
}
</script>