<template>
	<!-- The index page of the app -->
	<div class="row mb-2 g-3">
		<div class="col-2"></div>
		<!-- Render the option to create a new post if the user is logged in -->
		<div v-if="userStore.loggedIn" class="col-auto">
			<button class="btn btn-primary" v-on:click="renderCreatePost">New post</button>

		</div>
		<div class="col-md-2 col-5">
			<input type="text" class="form-control" placeholder="Search by title" id="postSearch" v-model="search">
		</div>
	</div>
	<div class="row">
		<div class="col-2"></div>
		<div class="col-md-8 col-12">

			<table class="table table-bordered">
				<tbody>
					<!-- Render only the amount of posts that are given by the pagination function (In this case its 10) -->
					<tr v-for="post in pagination" :key="post._id">
						<td>
							<p><a href="#" v-on:click="renderPost(post._id)">{{ post.title }}</a>
							</p>
							<span v-if="post.comments.length === 1">{{ post.comments.length }}
								comment
							</span>
							<span v-else>{{ post.comments.length }} comments</span>
							<br>
							<span>Post score: {{ post.upvotes.length - post.downvotes.length
							}}</span>

						</td>
					</tr>
				</tbody>
				<!-- If there are more than one pagination page numbers, render them accordingly at the bottom of the table -->
				<span v-if="totalPages > 1" v-for="page in totalPages">
					<a v-if="page != currentPage" href="#" class="me-1" v-on:click="changePage(page)">{{ page }}</a>
					<span v-else class="me-1">{{ page }}</span>
				</span>
			</table>
		</div>
	</div>
</template>
<script>
import { usePostStore } from '../stores/postStore';
import { useUserStore } from '../stores/userStore'

export default {
	data() {
		return {
			userStore: null,
			posts: [],
			search: '',
			postFilter: [],
			currentPage: 1,
			perPage: 10
		}
	},
	async created() {
		try {
			//Fetch all posts to show in the index page
			this.userStore = useUserStore();
			const postList = await fetch('http://localhost:8000/api/post/');
			this.posts = await postList.json()
			this.postFilter = this.posts
		} catch (error) {
			console.log('Could not fetch posts')
		}
	},
	watch: {
		//Watcher that filters the postlist and appends it to the postFilter array which is then handled by the pagination function
		search(input) {
			if (input === '') {
				this.postFilter = this.posts
				return
			}
			this.postFilter = this.posts.filter(post =>
				post.title.toLowerCase().includes(input.toLowerCase())
			)
		}
	},
	computed: {
		//Calculate the total amount of pages for the posts
		totalPages() {
			return Math.ceil(this.postFilter.length / this.perPage);
		},
		//Filter the postlist to have only a fixed amount of posts per page
		pagination() {
			const start = (this.currentPage - 1) * this.perPage;
			const end = start + this.perPage;
			return this.postFilter.slice(start, end)
		}
	},
	methods: {
		renderPost(id) {
			usePostStore().setPostId(id)
			this.$router.push({ name: "PostView" })
		},

		renderCreatePost() {
			this.$router.push({ name: "CreatePostView" })

		},
		changePage(page){
			this.currentPage = page
		}
	}

}
</script>

<style></style>