<template>
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8">
			<h5>Log in to your account</h5>
			<div class="mb-3">
				<label for="emailadd" class="form-label">Email address</label>
				<input type="email" class="form-control" id="emailaddr" v-model="email">

			</div>
			<div class="mb-3">
				<label for="password" class="form-label">Password</label>
				<input type="password" class="form-control" id="password" v-model="pass">
			</div>
			<button class="btn btn-primary" v-on:click="submitUser">Submit</button>
		</div>
	</div>
</template>

<script>
import { useUserStore } from '../stores/userStore'

export default {
	data() {
		return {
			pass: '',
			email: '',
			userStore: null
		}

	},
	methods: {
		//Function for submitting the user details to the backend, if it succeeds then save the received JWT in localstorage
		submitUser() {
			fetch('http://localhost:8000/api/user/login/', {
				method: "post",
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
					email: this.email,
					password: this.pass,
				})
			})
				.then(response => {
					if (response.status === 200) {
						return response.json()
					}
				})
				.then(response => {
					this.userStore = useUserStore();
					this.userStore.logIn(response.username)
					localStorage.setItem('username', response.username);
					localStorage.setItem('userid', response.userid);
					const jwt = response.token
					localStorage.setItem('token', jwt);
					this.$router.push({ name: "Index" })
				})

		}
	}
}

</script>