<template>
	<div  class="row">
		<div class="col-md-2"></div>
		<nav class="col-md-8 col-11 navbar navbar-expand-lg navbar-light">
			<a href="/" class="navbar-brand">Epic code snippet site 2000</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<!-- If the user is logged in, fetch the username from the userstore-->
			<span class="me-2" v-if="userStore.loggedIn">Logged in as: {{ userStore.username }}</span>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto mt-2">
					<!-- Render the navigation options accordingly depending on if the user is logged in or not -->
					<li v-if="userStore.loggedIn">
						<button class="btn btn-primary" v-on:click="logOut">Log out</button>
					</li>
					<li v-else class="nav-item">
						<button class="btn btn-primary" v-on:click="renderLogin">Login</button>
						<button class="btn btn-primary ms-2"
							v-on:click="renderRegister">Register</button>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</template>

<style>
.navbar {
	margin-left: 10px;
}
</style>
<script>
import { useUserStore } from '../stores/userStore'

export default {
	data() {
		return {
			userStore: null,
			username: localStorage.getItem('username')
		}
	},
	created(){
		this.userStore = useUserStore();
	},
	methods: {
		renderRegister() {
			this.$router.push({ name: "RegisterView" })
		},

		renderLogin() {
			this.$router.push({ name: "LoginView" })
		},
		logOut(){
			this.userStore.logOut()
			this.$router.push({ name: "Index" })
		}
	}

}
</script>