<template>
	<!-- View for a single post -->
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8 col-12 border">
			<p>Created by: {{ post.author.username }} | Score: {{ post.upvotes.length - post.downvotes.length }}</p>
			<h2>{{ post.title }} </h2>
			<p>{{ post.details }}</p>
			<div class="col-12 border bg-light mb-2 p-3">
				<highlightjs autodetect :code="post.code"/>

			</div>
			<!-- If the user is logged in, show the vote buttons accordingly -->
			<div v-if="userStore.loggedIn">
				<div v-if="this.upvote">
					<span>Upvote</span> <a href="#" v-on:click="sendVote('downvote')">Downvote</a>
				</div>
				<div v-else-if="this.downvote">
					<a href="#" v-on:click="sendVote('upvote')">Upvote</a> <span class="">Downvote</span>
				</div>
				<div v-else>
					<a href="#" v-on:click="sendVote('upvote')">Upvote</a> <a href="#"
						v-on:click="sendVote('downvote')">Downvote</a>
				</div>
			</div>





		</div>
	</div>
	<div class="row mt-3">
		<div class="col-md-2"></div>
		<div class="col-md-10 col-12">
			<!-- Render the new comment field if the user is logged in -->
			<div v-if="userStore.loggedIn" class="col-md-5 col-10 mb-3">
				<label for="">New comment:</label>
				<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
					v-model="comment"></textarea>
				<button class="btn btn-primary mt-2" v-on:click="postComment">Post comment</button>
			</div>
			<h5>Comments:</h5>
			<!-- Render all the posts comments with correct vote details after computing them -->
			<div v-for="comment in processComments" class="col-10 border mb-3">
				<h5 class="ms-2 mt-1">{{ comment.user.username }} commented: | Score: {{ comment.upvotes.length
					- comment.downvotes.length }}</h5>
				<p class="ms-2">{{ comment.text }}</p>
				<!-- Render the comment voting details if the user is logged in -->
				<div v-if="userStore.loggedIn" class="ms-2">
					<div v-if="comment.uservote === 'upvote'">
						<span>Upvote</span> <a href="#"
							v-on:click="sendVote('downvote', comment._id)">Downvote</a>
					</div>
					<div v-else-if="comment.uservote === 'downvote'">
						<a href="#" v-on:click="sendVote('upvote', comment._id)">Upvote</a> <span
							class="">Downvote</span>
					</div>
					<div v-else>
						<a href="#" v-on:click="sendVote('upvote', comment._id)">Upvote</a> <a href="#"
							v-on:click="sendVote('downvote', comment._id)">Downvote</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { usePostStore } from '../stores/postStore';
import { useUserStore } from '../stores/userStore'

export default {
	data() {
		return {
			userStore: null,
			post: {
				author: {
					username: null
				},
				code: '',
				upvotes: [],
				downvotes: [],
				comments: []
			},
			comment: null,
			downvote: false,
			upvote: false,
			userid: null
		}
	},
	async created() {
		try {
			//When the view is rendered, fetch the current post using the postid from postStore and append it to the frontend
			this.userid = localStorage.getItem('userid')
			this.userStore = useUserStore();
			let postId = usePostStore().postId
			const fetchPost = await fetch(`http://localhost:8000/api/post/${postId}`)
			this.post = await fetchPost.json()

			if (this.post.upvotes.indexOf(this.userid) > -1) {
				this.upvote = true
			} else if (this.post.downvotes.indexOf(this.userid) > -1) {
				this.downvote = true
			}

		} catch (error) {
			console.log('Failed fetching post')
		}
	},
	computed: {
		//Map the current users voting statuses to the comments
		processComments() {
			return this.post.comments.map(comment => {
				if (comment.upvotes.includes(this.userid)) {
					comment.uservote = 'upvote'
				} else if (comment.downvotes.includes(this.userid)) {
					comment.uservote = 'downvote'
				}
				return comment
			})
		}
	},
	methods: {
		//Post a new comment to the backend
		async postComment() {
			const jwt = localStorage.getItem('token')
			const postId = localStorage.getItem('postId')

			const response = await fetch('http://localhost:8000/api/post/comment', {
				method: "post",
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json',
					'Authorization': 'Bearer ' + jwt
				},
				body: JSON.stringify({
					text: this.comment,
					postId: postId
				})

			})
			//If the comment posting succeeds, append a new comment to the comment array
			if (response.status === 200) {
				const feedback = await response.json()
				console.log(feedback)
				let newid = feedback.comments[feedback.comments.length - 1]._id
				let comment = {
					_id: newid,
					text: this.comment,
					user: {
						username: localStorage.getItem('username')
					},
					upvotes: [],
					downvotes: []

				}
				this.post.comments.push(comment)
				this.comment = null
			}
		},

		//Post a new vote to the backend, the functions takes the vote type and the commment id as an argument.
		//If the commentid is not given as an argument, assume that the vote is for a post and not for a comment.
		async sendVote(vote, comment = false) {
			const jwt = localStorage.getItem('token')
			const postId = localStorage.getItem('postId')

			const response = await fetch('http://localhost:8000/api/post/vote/', {
				method: "post",
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json',
					'Authorization': 'Bearer ' + jwt
				},
				body: JSON.stringify({
					vote: vote,
					postId: postId,
					commentId: comment
				})

			})
			if (response.status === 200) {
				if (!comment) {
					//Remove the vote from the opposite vote type and add it to the new vote type in the frontend
					if (vote === 'upvote') {
						this.post.downvotes = this.post.downvotes.filter(e => e !== this.userid);
						this.post.upvotes.push(this.userid)
						this.downvote = false
						this.upvote = true
					} else {
						this.post.upvotes = this.post.upvotes.filter(e => e !== this.userid);
						this.post.downvotes.push(this.userid)
						this.upvote = false
						this.downvote = true
					}
				} else {

					//Remove the vote from the comments opposite vote type and add it to the new vote type in the frontend
					const index = this.post.comments.findIndex(c => c._id === comment)

					if (vote === 'upvote') {
						this.post.comments[index].downvotes = this.post.comments[index].downvotes.filter(e => e !== this.userid);
						this.post.comments[index].upvotes.push(this.userid)
					} else {
						this.post.comments[index].upvotes = this.post.comments[index].upvotes.filter(e => e !== this.userid);
						this.post.comments[index].downvotes.push(this.userid)
					}
				}
			}
		}
	}
}
</script>