<template>
	<!-- View for the user registration -->
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8">
			<h5>Register a new account</h5>
			<div class="mb-3">
				<label for="emailadd" class="form-label">Email address</label>
				<input type="email" class="form-control" id="emailaddr" v-model="email">

			</div>
			<div class="mb-3">
				<label for="username" class="form-label">Username</label>
				<input class="form-control" id="username" v-model="user">

			</div>
			<div class="mb-3">
				<label for="password" class="form-label">Password</label>
				<input type="password" class="form-control" id="password" v-model="pass">
			</div>
			<button class="btn btn-primary" v-on:click="submitUser">Register</button>
		</div>
	</div>
</template>

<script>

export default {
	data() {
		return {
			user: '',
			pass: '',
			email: ''
		}

	},
	methods: {
		//Function for submitting the registration details to the backend
		async submitUser() {
			const response = await fetch('http://localhost:8000/api/user/register/', {
				method: "post",
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
					email: this.email,
					password: this.pass,
					username: this.user
				})
			})
			if (response.status === 200) {
				this.$router.push({ name: "Success" })

			}
		}
	}
}

</script>