<template>
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8">
			<h1>Registered succesfully!</h1>
			<a href="/">Back to the front page</a>
		</div>
	</div>
</template>
<!-- This is just a success page -->