<script setup>
import Navbar from './components/Navbar.vue';
</script>

<template>
  <div id="app" class="d-flex justify-content-center">
    <div class="container justify-content-center">

      <Navbar></Navbar>
      <router-view/>
    </div>

  </div>
</template>

<style scoped></style>
